@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imbue:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: arial;
  background: wheat;
}

.conteiner a {
  text-decoration: none;
  color: black;
}

.original {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #fbeaff, #ecddf2, #ded1e4, #d0c4d7, #c2b8ca, #c2b9ca, #c3baca, #c3bbca, #d1cad7, #dfd9e4, #eee8f2, #fcf8ff);
  min-width: 0;
}

.content {
  flex: 1 1 auto;
  margin-top: 1%;
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
}

.hi__top {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  border-radius: 0px 0px 45px 0px;
}

.hi__logo img {
  height: 100%;
}

.hi__logo {
  min-width: 45%;
  display: flex;
}

.hi__foto {
  height: 100%;
  display: grid;
}

.hi__text {
  font-size: 200%;
  padding-left: 2%;
  font-family: Sansita Swashed;
  margin: auto;
  text-shadow: 1px 1px 10px white;
}

.hi__langeage {
  max-width: 30%;
  display: inline-flex;
  justify-content: flex-end;
}

.hi__img {
  margin: auto 0;
  height: 30%;
}

.hi__img img {
  height: 100%;
  border-radius: 50%;
}

.hi__lenguage {
  margin: auto 0;
  position: relative;
}

.hi__soc {
  max-width: 15%;
  display: inline-flex;
  justify-content: space-around;
}

.soc {
  height: 30%;
  border-radius: 50%;
  margin: auto 0;
}

.soc img {
  height: 100%;
}

.footer .footer__row {
  padding: 0.5%;
  text-align: center;
  font-family: monospace;
}

.footer__text {
  font-family: "Berkshire Swash";
}

.geo__row {
  background-color: azure;
  padding: 0vh 2%;
  margin-top: 5%;
}

.geo__center {
  height: 100%;
  box-shadow: 0px 0.5px white;
  display: flex;
  justify-content: space-around;
  font-family: "Sansita Swashed";
}

.geo__title {
  padding: 5% 0;
  position: relative;
  cursor: pointer;
}

.menu__rov {
  height: 6vh;
  padding: 1vh 0vw;
}

.menu__menu {
  background: #f08c78;
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-flex;
  justify-content: space-between;
}

.menu__column {
  width: inherit;
  height: 100%;
  font-size: 100%;
  text-align: center;
  background: lavender;
  color: white;
  transition-duration: 1s;
  cursor: pointer;
  font-family: "Sansita Swashed";
  position: relative;
}

.geo__column li {
  height: 3vh;
  transition: all 0.5s ease 0s;
  box-shadow: 0 2px 0px black;
  margin-top: 5px;
  align-items: center;
  display: grid;
  color: black;
}

.geo__column li:hover {
  background: red;
  box-shadow: 0 2px 0px black;
}

.geo__column img {
  height: 100%;
  padding-right: 10%;
  margin-left: 5%;
}

.geo__column {
  width: 50%;
  text-align: center;
  padding-bottom: 2vh;
  padding-right: 2%;
}

.geo__column._Kont li {
  text-align: inherit;
  display: flex;
}

.geo__punkt {
  text-align: center;
}

.geo__tocolumn {
  display: flex;
  width: 50%;
}

.menu__list {
  position: absolute;
  left: 0%;
  top: 10vh;
  width: 100%;
  z-index: -10;
  transition: all 1s ease 0s;
  height: 0%;
  opacity: 0;
}

.menu__list li {
  padding: 7.5% 0;
  background: white;
  color: black;
  transition: all 0.5s ease 0s;
}

.body__title._shad {
  text-shadow: 0px 0 5px black;
}

.body__title._fed {
  font-size: 80%;
}

.menu__facult {
  box-shadow: 0px 2px black;
}

.menu__list li:hover {
  background: gold;
  box-shadow: 0 0 10px white;
}

.body__map {
  height: 100%;
  width: 100%;
}

.menu__element._el {
  transition: all 0.5s ease 0s;
}

.menu__column._el:hover .menu__list {
  z-index: 10;
  height: 100%;
  top: 100%;
  opacity: 1;
}

.svipe__leng {
  width: 20%;
  height: 100%;
  margin: 0 auto;
  transition: all 1.5s ease 0s;
  transform-style: preserve-3d;
  position: relative;
  animation: waves 4s infinite linear;
  justify-content: flex-end;
}

.leng__img {
  height: 30%;
  margin: auto;
  margin-right: 10%;
}

.leng__img img {
  justify-content: center;
  height: 100%;
  border-radius: 50%;
}

.textFront, .textBack {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: azure;
}

.textFront {
  z-index: 2;
  transform: rotateY(0deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.textBack {
  transform: rotateY(-180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.svipe__leng:hover {
  transform: rotateY(180deg);
}

.window__img {
  position: relative;
}

.window__img img {
  width: 100%;
}

.window__row {
  position: relative;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider__title {
  position: relative;
  margin-top: 2%;
  min-width: 0;
}

.slider__title .slick-arrow {
  display: none;
}

.slider__title .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  font-size: 0;
  width: 0px;
  height: 0px;
}

.window__coment {
  position: relative;
  top: 50%;
  right: 0;
  width: 100%;
  background: rgba(240, 248, 255, 0.4);
  padding: 2%;
  font-size: 180%;
  font-family: auto;
  border-radius: 30px 30px 0 0;
  text-shadow: 0 0 20px white;
  text-align: center;
}

.slider__title.active {
  display: none;
}

.slider__title_min.active {
  display: none;
}

.slick-dots {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease 0s;
}

.slick-dots li {
  list-style: none;
  margin: 0 10px;
  border-radius: 50%;
}

.slick-dots button {
  font-size: 0px;
  width: 25px;
  height: 25px;
  background: aquamarine;
  position: relative;
  z-index: 3;
  border-radius: 50%;
}

.slider__title .slick-active button {
  background: rgba(229, 35, 37, 0.3);
}

.window__exp {
  background: rgba(127, 255, 212, 0.6);
  position: relative;
  padding: 2%;
  font-size: 150%;
  font-family: auto;
  line-height: 120%;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 0 -3px azure;
  text-align: center;
}

.body__arow {
  position: relative;
  align-self: flex-end;
  width: 40%;
  height: 100%;
}

.body__arow img {
  width: 100%;
  height: 100%;
  filter: grayscale(80%);
}

.body__box._adm {
  width: 58%;
  background: rgba(0, 0, 255, 0.5);
  height: 94%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 1s ease 0s;
  margin: 1% 1%;
  border-radius: 0% 100px 100px 0%;
}

.body__box._admr {
  left: 40%;
  border-radius: 100px 0px 0px 100px;
  background: rgba(0, 0, 255, 0.7);
}

.body__image._mob {
  background: white;
  width: 50%;
  position: relative;
  margin: 0 auto;
  display: none;
}

.body__conteiner._adm {
  margin-top: 5%;
}

.body__image._adm._end {
  position: relative;
  left: 40%;
}

.conteiner._adm {
  background: white;
}

.body__image._adm {
  width: 60%;
  padding: 0.5%;
  background: dimgrey;
  height: 100%;
}

.menu__column:hover {
  background: #bc1339;
  color: gold;
  box-shadow: 0 0 10px white;
}

.menu__element {
  background: azure;
  height: 3vh;
  padding: 1vh 0;
  position: relative;
  color: black;
  font-family: "Sansita Swashed";
}

.preBody__row {
  background-image: url(../Img/preBody.jpg);
  background-size: cover;
  height: 70vh;
  padding: 20%;
  margin-top: -1%;
}

.preBody__text {
  color: white;
  font-size: 3vw;
  text-align: center;
  text-shadow: 0px 0 20px black;
  transition: all 1s ease 0s;
  font-family: Imbue;
  opacity: 0.6;
}

.preBody__text:hover {
  color: gold;
  opacity: 1;
}

.body__title {
  margin-top: 5%;
  padding: 1vh 0;
  font-size: 250%;
  text-align: center;
  font-weight: 700;
  text-shadow: 0px 0 5px white;
  color: white;
  font-family: "Bebas Neue";
  transition: all 0.5s ease 0s;
  box-shadow: 0px -1px black;
}

.body__title a {
  transition: all 0.5s ease 0s;
}

.body__title:hover a {
  color: red;
}

.body__conteiner {
  height: auto;
  display: inline-flex;
  font-family: Bebas Neue;
  font-size: 140%;
  position: relative;
  width: 100%;
}

.slick-track {
  display: flex;
}

.slider__body {
  position: relative;
}

.slider__body .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  font-size: 0;
  width: 60px;
  height: 60px;
}

.slider__body .slick-arrow.slick-prev {
  background: url(../Img/ArR.png);
  right: 0%;
}

.slider__body .slick-arrow.slick-next {
  left: 0%;
  background: url(../Img/ArL.png);
}

.body__image {
  width: 100%;
  padding: 0.5%;
  background: dimgrey;
  height: 100%;
}

.body__image img {
  width: 100%;
  height: 100%;
}

.body__box {
  width: 40%;
  background: rgba(0, 0, 255, 0.5);
  height: 97%;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 1s ease 0s;
  margin: 1% 1%;
  border-radius: 0% 100px 100px 0%;
  filter: grayscale(100%);
  color: white;
}

.body__box:hover {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0% 0px 0px 0%;
}

.body__box._us {
  width: 98%;
  border-radius: 100px 100px 0px 0;
  height: 99%;
}

.body__box._us:hover {
  border-radius: 0px;
}

.person__image {
  height: 30%;
  width: 100%;
  margin: auto;
}

.person__image img {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

.body__person {
  height: 100%;
  width: 30%;
  background: rgba(240, 240, 240, 0.3);
  border-radius: 30px;
  font-family: "Sansita Swashed";
}

.body__image._us {
  background: none;
}

.person__class {
  text-align: center;
  padding: 3%;
}

.person__description {
  text-align: center;
}

.body__body__special._nps {
  display: inline-flex;
  justify-content: space-between;
}

.body__body__universe._us {
  width: 98%;
  margin: auto;
  border-radius: 0 0 50px 50px;
}

.body__body__title._us {
  position: relative;
  top: 40%;
  font-family: "Sansita Swashed";
}

.body__body__title._us._tea {
  font-size: 200%;
}

.slider__fall {
  display: inline-flex;
  justify-content: space-between;
}

.window__item {
  width: 19%;
  border-radius: 0 0 10px 10px;
}

.local:active {
  background: blue;
}

.window__item._tab {
  display: none;
}

.window__item._tab:target {
  display: block;
}

.window__item._tab:target.slider__title {
  display: none;
}

.window__item._in {
  width: 100%;
}

.body__fr {
  display: none;
}

.body__fr.active {
  display: block;
}

.body__eng.active {
  display: none;
}

.original.active {
  min-height: 0%;
}

.textFront.active {
  display: inline-flex;
  transform: rotateY(180deg);
}

.textBack.active {
  transform: rotateY(0deg);
}

.textFront.active.svipe__leng {
  transform: rotateY(180deg);
}

.body__body__title {
  padding: 2%;
  text-align: center;
  font-size: 125%;
  text-shadow: 0px 0 10px black;
}

.body__body__special {
  padding: 1.2vh 2vw;
  font-size: 100%;
}

.body__body__special li {
  padding: 1% 0;
}

._spec {
  display: inline-flex;
  width: 100%;
  padding: 0px;
}

.body__rowes {
  width: 50%;
  padding: 2%;
  font-size: 100%;
}

.body__row:last child {
  margin-bottom: 20%;
}

.geo__row._adm {
  margin-top: 1%;
}

.body__title._adm {
  margin-top: 5%;
  padding: 1vh 0;
  font-size: 250%;
  text-align: center;
  font-weight: 700;
  text-shadow: 0 2px white;
  font-family: "Bebas Neue";
  transition: all 0.5s ease 0s;
  box-shadow: 0px -1px black;
  color: black;
}

.body__title._adm._fr {
  font-size: 300%;
  margin-top: 0%;
}

.body__body__special._adm._tex {
  font-size: 150%;
  position: relative;
  top: 40%;
  text-align: center;
}

.body__body__special._adm._tex._dex {
  top: 10%;
}

.window__img {
  width: 100%;
}

.window__img img {
  width: 100%;
}

.window__item_min._in {
  width: 14.5%;
  justify-content: space-between;
}

.window__exp._min {
  font-size: xx-large;
  transition: all 1s ease 0s;
}

.window__item_min._in.swiper-slide-thumb-active .window__item_min._in {
  background-image: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.window__item_min._in.swiper-slide-thumb-active .window__img._ico {
  color: #8B008B;
  background-image: linear-gradient(to top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  border-radius: 30px 30px 0 0;
}
.window__item_min._in.swiper-slide-thumb-active .window__exp._min {
  color: white;
  text-shadow: 0px 0px 10px black;
  background-image: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.window__img._ico {
  font-size: 300%;
  transition: all 1s ease 0s;
}

.slider__title_min {
  width: 100%;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .preBody__row {
    height: auto;
    margin-top: 2%;
  }

  .body__conteiner {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .body__box._us {
    width: 100%;
    border-radius: 0px;
    margin: 0;
  }

  .body__body__special._nps {
    display: block;
  }

  .slick-dots {
    margin-bottom: 3%;
  }

  .body__person {
    width: 100%;
    margin: 2% 0;
    font-size: 140%;
    line-height: 120%;
  }

  .body__body__universe._us {
    margin: 2% 0%;
    width: 100%;
  }

  .soc {
    height: 50%;
  }

  .body__box {
    width: 100%;
    position: relative;
    background: rgba(0, 0, 255, 0.7);
    border-radius: 0%;
  }

  .window__coment {
    position: relative;
    width: 100%;
  }

  .textFront {
    display: inline-flex;
    transform: rotateY(180deg);
  }

  .textBack {
    transform: rotateY(0deg);
  }

  .textFront.active {
    display: inline-flex;
    transform: rotateY(0deg);
  }

  .textBack.active {
    transform: rotateY(-180deg);
  }

  .svipe__leng {
    transform: rotateY(0deg);
  }

  .hi__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 10;
    margin: auto;
    top: 30%;
  }

  .body__title {
    margin-top: 2%;
    font-size: 200%;
  }

  .hi__burger:before, .hi__burger:after {
    content: "";
    background: black;
    width: 100%;
    height: 2px;
    left: 0;
    position: absolute;
    transition: all 0.5s ease 0s;
  }

  .hi__burger span {
    background: black;
    width: 100%;
    height: 2px;
    left: 0;
    position: absolute;
    top: 9px;
    transition: all 0.5s ease 0s;
  }

  .hi__burger.active span {
    transform: scale(0);
  }

  .hi__burger:before {
    top: 0;
  }

  .hi__burger.active:before {
    top: 9px;
    transform: rotate(45deg);
  }

  .hi__burger:after {
    bottom: 0px;
  }

  .hi__burger.active:after {
    bottom: 9px;
    transform: rotate(-45deg);
  }

  .hi__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }

  .hi__top {
    position: fixed;
    height: 10vh;
  }

  .hi__burger__wra {
    width: 20%;
    align-items: center;
    justify-content: inherit;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  .menu__rov {
    height: 7vh;
    background: none;
    width: 100%;
  }

  .hi__logo {
    min-width: 100vw;
    position: relative;
    padding: 2%;
    background: rgba(255, 255, 255, 0.6);
  }

  .hi__langeage {
    display: none;
  }

  .hi__langeage.active {
    position: relative;
    right: 50%;
    display: block;
  }

  .menu__select {
    width: 0%;
    position: relative;
    top: 6.6vh;
    top: -100%;
  }

  .menu__menu {
    background: azure;
    width: 100%;
    height: 13vh;
    justify-content: space-between;
    position: fixed;
    display: block;
    top: -100%;
    transition: all 0.7s ease 0s;
    overflow: auto;
  }

  .menu__element {
    height: 7vh;
  }

  .menu__menu.active {
    top: 15%;
    height: -webkit-fill-available;
    transition: all 0.7s ease 0s;
  }

  .slider__body .slick-arrow.active {
    display: none;
  }

  .menu__column {
    width: 100%;
    height: 9vh;
    text-align: center;
    box-shadow: 0 0 10px black;
    color: white;
    transition-duration: 1s;
    cursor: pointer;
  }

  .hi__soc {
    position: fixed;
    top: -1000px;
    transition: all 0.7s ease 0s;
    min-width: 100vw;
    background: #f08c78;
    display: inline-flex;
    justify-content: space-around;
    height: 6vh;
    z-index: -10;
  }

  .hi__soc.active {
    min-width: 100vw;
    background: aliceblue;
    display: inline-flex;
    justify-content: space-around;
    height: 6vh;
    position: absolute;
    top: 100%;
  }

  .hi__text {
    width: 100%;
    padding-left: 5%;
    margin: auto;
    display: none;
  }

  .menu__list {
    display: none;
    transition: all 0.7s ease 0s;
  }

  .menu__element._el:hover .menu__list {
    z-index: 1;
    height: 100%;
    top: 100%;
  }

  .menu__list.active {
    display: block;
    z-index: 1;
    height: 100%;
    top: 100%;
  }

  .geo__tocolumn {
    display: flex;
    width: 100%;
  }

  .geo__center {
    display: block;
  }

  .geo__column {
    width: 100%;
    border-radius: 0%;
  }

  .geo__row {
    margin: 0%;
    padding: 0%;
  }

  ._uni {
    margin-top: 2vh;
  }

  .body__map {
    height: 30vh;
  }

  .hi__foto {
    display: grid;
    width: 100%;
  }

  .geo__title1 {
    padding: 1% 0;
    position: relative;
    cursor: pointer;
  }

  .geo__title1:before,
.geo__title1:after {
    content: "";
    width: 10px;
    height: 1px;
    background: black;
    position: absolute;
    top: 15px;
    transition: all 0.7s ease 0s;
  }

  .geo__title1:before {
    transform: rotate(40deg);
    left: 0;
  }

  .geo__title1:after {
    transform: rotate(-40deg);
    left: 7px;
  }

  .geo__title1.active:before {
    background: red;
    transform: rotate(-40deg);
    top: 9px;
  }

  .geo__title1.active:after {
    background: red;
    transform: rotate(40deg);
    top: 9px;
  }

  .geo__spoil1 {
    display: none;
    transition: all 0.7s ease 0s;
  }

  .geo__spoil1.active {
    display: block;
  }

  .geo__title2 {
    padding: 1% 0;
    position: relative;
    cursor: pointer;
  }

  .geo__title2:before,
.geo__title2:after {
    content: "";
    width: 10px;
    height: 1px;
    background: black;
    position: absolute;
    top: 15px;
    transition: all 0.7s ease 0s;
  }

  .geo__title2:before {
    transform: rotate(40deg);
    left: 0;
  }

  .geo__title2:after {
    transform: rotate(-40deg);
    left: 7px;
  }

  .geo__title2.active:before {
    background: red;
    transform: rotate(-40deg);
    top: 9px;
  }

  .geo__title2.active:after {
    background: red;
    transform: rotate(40deg);
    top: 9px;
  }

  .geo__spoil2 {
    display: none;
    transition: all 0.7s ease 0s;
  }

  .geo__spoil2.active {
    display: block;
  }

  .geo__title3 {
    padding: 1% 0;
    position: relative;
    cursor: pointer;
  }

  .geo__title3:before,
.geo__title3:after {
    content: "";
    width: 10px;
    height: 1px;
    background: black;
    position: absolute;
    top: 15px;
    transition: all 0.7s ease 0s;
  }

  .geo__title3:before {
    transform: rotate(40deg);
    left: 0;
  }

  .geo__title3:after {
    transform: rotate(-40deg);
    left: 7px;
  }

  .geo__title3.active:before {
    background: red;
    transform: rotate(-40deg);
    top: 9px;
  }

  .geo__title3.active:after {
    background: red;
    transform: rotate(40deg);
    top: 9px;
  }

  .geo__spoil3 {
    display: none;
    transition: all 0.7s ease 0s;
  }

  .geo__spoil3.active {
    display: block;
  }

  .geo__title4 {
    padding: 1% 0;
    position: relative;
    cursor: pointer;
  }

  .geo__title4:before,
.geo__title4:after {
    content: "";
    width: 10px;
    height: 1px;
    background: black;
    position: absolute;
    top: 15px;
    transition: all 0.7s ease 0s;
  }

  .geo__title4:before {
    transform: rotate(40deg);
    left: 0;
  }

  .geo__title4:after {
    transform: rotate(-40deg);
    left: 7px;
  }

  .geo__title4.active:before {
    background: red;
    transform: rotate(-40deg);
    top: 9px;
  }

  .geo__title4.active:after {
    background: red;
    transform: rotate(40deg);
    top: 9px;
  }

  .geo__spoil4 {
    display: none;
    transition: all 0.7s ease 0s;
  }

  .geo__spoil4.active {
    display: block;
  }

  .body__title._adm._fr {
    margin-top: 3%;
  }

  .body__box._adm {
    width: 98%;
    background: rgba(0, 0, 255, 0.7);
    height: 97%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s ease 0s;
    margin: 1% 1%;
    border-radius: 0% 0px 0px 0%;
  }

  .body__box._admr {
    left: 0%;
    border-radius: 0px 0px 0px 0px;
  }

  .body__image._mob {
    background: white;
    width: 50%;
    position: relative;
    margin: 0 auto;
    display: block;
  }

  .body__conteiner._adm {
    margin-top: 0%;
  }

  .body__image._adm {
    width: 100%;
  }

  .body__arow {
    position: relative;
    left: 40%;
    display: none;
  }

  .conteiner._adm {
    background: white;
  }

  .body__image._adm._end {
    left: 0%;
  }

  .body__body__special._adm {
    display: inline-flex;
    height: 50%;
    width: 100%;
    margin: auto 0;
    position: relative;
    top: 10%;
  }

  .body__image {
    width: 100%;
  }

  .slider__title {
    margin-top: 1%;
    width: 100%;
  }

  .window__img._ico {
    font-size: 150%;
  }

  .window__exp._min {
    display: none;
  }
}
@media (max-width: 475px) {
  .hi__text {
    font-size: 150%;
  }
}
.body__body__special._anim-items {
  transform: translate(0px, 120%);
  transition: all 1s ease 1s;
  opacity: 0;
  overflow: hidden;
}

.body__box._active .body__body__special {
  transform: translate(0px, 0%);
  opacity: 1;
  transition: all 1s ease 0s;
}

.body__box._anim-items {
  transform: translate(-120%, 0%);
  transition: all 1s ease 0s;
  opacity: 0;
  overflow: hidden;
}

.body__box._active {
  transform: translate(0px, 0%);
  opacity: 1;
  transition: all 1s ease 0s;
}

.body__body__title._anim-items {
  transform: translate(0px, -120%);
  transition: all 1s ease 1s;
  opacity: 0;
  overflow: hidden;
}

.body__box._active .body__body__title {
  transform: translate(0px, 0%);
  opacity: 1;
  transition: all 1s ease 0s;
}

.geo__row._anim-items {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 1s ease 0s;
}

.geo._active .geo__row {
  transform: translate(0px, 0%);
  opacity: 1;
  transition: all 2s ease 0s;
}

.body__arow._anim-items {
  transform: translate(0%, -50%);
  opacity: 1;
  transition: all 1s ease 0;
}

.body__arow._active {
  transform: translate(0px, 0%);
  opacity: 1;
  transition: all 1s ease 0s;
}

.body__image._adm._anim-items {
  transform: translate(100%, 0%);
  opacity: 0;
  transition: all 1s ease 0s;
}

.body__box._adm._anim-items {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 1s ease 0s;
}

.body__box._adm._admr._anim-items {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 1s ease 0s;
}

.body__row._active .body__image._adm._anim-items {
  transform: translate(0px, 0%);
  opacity: 1;
  transition: all 1s ease 0s;
}

.body__row._active .body__box._adm._anim-items {
  transform: translate(0px, 0%);
  opacity: 1;
  transition: all 1s ease 0s;
}

.body__row._active .body__box._adm._admr._anim-items {
  transform: translate(0px, 0%);
  opacity: 1;
  transition: all 1s ease 0s;
}

.geo a {
  color: black;
}